.taskList {
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
}

.taskList::-webkit-scrollbar {
    width: 6px;
}

.taskList::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 4px;
}

.taskList::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}
